function AdvancedMath.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 51
pop this 2
push constant 72
call Array.new 1
pop this 0
push constant 72
call Array.new 1
pop this 1
push constant 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 42
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 50
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 57
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 71
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 82
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 94
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 97
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 98
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 98
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 97
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 94
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 0
add
push constant 82
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 0
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 0
add
push constant 71
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 0
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 0
add
push constant 57
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 0
add
push constant 50
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 0
add
push constant 42
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 0
add
push constant 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 0
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 0
add
push constant 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 0
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 0
add
push constant 9
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 0
add
push constant 17
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 0
add
push constant 26
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 0
add
push constant 34
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 42
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 0
add
push constant 50
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 0
add
push constant 57
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 0
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 0
add
push constant 71
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 0
add
push constant 77
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 0
add
push constant 82
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 0
add
push constant 87
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 0
add
push constant 91
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 0
add
push constant 94
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 0
add
push constant 97
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 0
add
push constant 98
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 0
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 0
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 0
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 0
add
push constant 98
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 0
add
push constant 97
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 0
add
push constant 94
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 0
add
push constant 91
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 0
add
push constant 87
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 0
add
push constant 82
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 0
add
push constant 77
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 0
add
push constant 71
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 0
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 0
add
push constant 57
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 0
add
push constant 50
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 0
add
push constant 42
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 0
add
push constant 34
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 0
add
push constant 26
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 0
add
push constant 17
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 0
add
push constant 9
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 98
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 97
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 94
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 82
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 1
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 1
add
push constant 71
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 1
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 1
add
push constant 57
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 1
add
push constant 50
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 1
add
push constant 42
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 1
add
push constant 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 1
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 1
add
push constant 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 1
add
push constant 9
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 1
add
push constant 17
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 1
add
push constant 26
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 1
add
push constant 34
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 1
add
push constant 42
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 1
add
push constant 50
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 1
add
push constant 57
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 1
add
push constant 71
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 1
add
push constant 77
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 1
add
push constant 82
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 1
add
push constant 87
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 1
add
push constant 91
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 1
add
push constant 94
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 1
add
push constant 97
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 1
add
push constant 98
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 1
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 1
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 1
add
push constant 100
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 1
add
push constant 98
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 1
add
push constant 97
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 1
add
push constant 94
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 1
add
push constant 91
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 1
add
push constant 87
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 1
add
push constant 82
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 1
add
push constant 77
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 1
add
push constant 71
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 1
add
push constant 57
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 1
add
push constant 50
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 1
add
push constant 42
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 1
add
push constant 34
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 1
add
push constant 26
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 1
add
push constant 17
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 1
add
push constant 9
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 1
add
push constant 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 1
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 1
add
push constant 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 1
add
push constant 42
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 1
add
push constant 50
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 1
add
push constant 57
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 1
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 1
add
push constant 71
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 1
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 1
add
push constant 82
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 1
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 1
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 1
add
push constant 94
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 1
add
push constant 97
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 1
add
push constant 98
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 1
add
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function AdvancedMath.sin100 0
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push constant 360
gt
not
if-goto WHILE_END0
push argument 1
push constant 360
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push argument 1
push constant 0
lt
not
if-goto WHILE_END1
push argument 1
push constant 360
add
pop argument 1
goto WHILE_EXP1
label WHILE_END1
push argument 1
push constant 5
call Math.divide 2
push this 0
add
pop pointer 1
push that 0
return
function AdvancedMath.cos100 0
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push constant 360
gt
not
if-goto WHILE_END0
push argument 1
push constant 360
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push argument 1
push constant 0
lt
not
if-goto WHILE_END1
push argument 1
push constant 360
add
pop argument 1
goto WHILE_EXP1
label WHILE_END1
push argument 1
push constant 5
call Math.divide 2
push this 1
add
pop pointer 1
push that 0
return
function AdvancedMath.plantSeed 0
push argument 0
pop pointer 0
push argument 1
push constant 7
call Math.multiply 2
pop argument 1
push pointer 0
push argument 1
push constant 101
call AdvancedMath.mod 3
pop this 2
push constant 0
return
function AdvancedMath.isPrime 2
push argument 0
pop pointer 0
push constant 0
not
pop local 1
push argument 1
push constant 2
call Math.divide 2
pop argument 1
push constant 2
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
push local 1
and
not
if-goto WHILE_END0
push argument 1
push argument 1
push local 0
call Math.divide 2
push local 0
call Math.multiply 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function AdvancedMath.getNextPrime 0
push argument 0
pop pointer 0
label WHILE_EXP0
push pointer 0
push argument 1
call AdvancedMath.isPrime 2
not
not
if-goto WHILE_END0
push argument 1
push constant 1
add
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push argument 1
return
function AdvancedMath.random 4
push argument 0
pop pointer 0
push pointer 0
push this 2
call AdvancedMath.plantSeed 2
pop temp 0
push constant 1
pop local 1
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
push local 0
push constant 0
gt
and
not
if-goto WHILE_END0
push pointer 0
push this 2
call AdvancedMath.plantSeed 2
pop temp 0
push local 1
pop local 2
push local 1
push local 0
push pointer 0
push this 2
push constant 2
call AdvancedMath.mod 3
call Math.multiply 2
add
pop local 1
push local 0
push constant 2
call Math.multiply 2
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function AdvancedMath.exp 1
push argument 0
pop pointer 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push argument 1
push argument 1
call Math.multiply 2
pop argument 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
return
function AdvancedMath.mod 1
push argument 0
pop pointer 0
push argument 1
push argument 2
call Math.divide 2
pop local 0
push argument 1
push argument 2
push local 0
call Math.multiply 2
sub
return
function AdvancedMath.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
