function Attributes.new 0
push constant 16
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push argument 4
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push argument 5
pop this 6
push argument 6
pop this 7
push argument 7
pop this 8
push argument 1
pop this 11
push argument 2
pop this 12
push argument 5
pop this 13
push argument 6
pop this 14
push constant 0
pop this 9
push constant 0
not
pop this 15
push argument 0
pop this 10
push pointer 0
return
function Attributes.getPx 0
push argument 0
pop pointer 0
push this 0
return
function Attributes.getPy 0
push argument 0
pop pointer 0
push this 1
return
function Attributes.setCoordinates 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
function Attributes.getVx 0
push argument 0
pop pointer 0
push this 2
return
function Attributes.getVy 0
push argument 0
pop pointer 0
push this 3
return
function Attributes.setVelocity 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push argument 2
pop this 3
push constant 0
return
function Attributes.getAx 0
push argument 0
pop pointer 0
push this 4
return
function Attributes.getAy 0
push argument 0
pop pointer 0
push this 5
return
function Attributes.setAcceleration 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push argument 2
pop this 5
push constant 0
return
function Attributes.getRotation 0
push argument 0
pop pointer 0
push this 6
return
function Attributes.setRotation 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Attributes.getRadius 0
push argument 0
pop pointer 0
push this 7
return
function Attributes.setRadius 0
push argument 0
pop pointer 0
push argument 1
pop this 7
push constant 0
return
function Attributes.getMass 0
push argument 0
pop pointer 0
push this 8
return
function Attributes.backup 0
push argument 0
pop pointer 0
push this 15
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
pop this 11
push this 1
pop this 12
push this 6
pop this 13
push this 7
pop this 14
label IF_FALSE0
push constant 0
return
function Attributes.getNeedsUpdate 0
push argument 0
pop pointer 0
push this 15
return
function Attributes.setNeedsUpdate 0
push argument 0
pop pointer 0
push argument 1
pop this 15
push constant 0
return
function Attributes.getIsDead 0
push argument 0
pop pointer 0
push this 9
return
function Attributes.setIsDead 0
push argument 0
pop pointer 0
push argument 1
pop this 9
push constant 0
return
function Attributes.getOldPx 0
push argument 0
pop pointer 0
push this 11
return
function Attributes.getOldPy 0
push argument 0
pop pointer 0
push this 12
return
function Attributes.getOldRotation 0
push argument 0
pop pointer 0
push this 13
return
function Attributes.getOldRadius 0
push argument 0
pop pointer 0
push this 14
return
function Attributes.getType 0
push argument 0
pop pointer 0
push this 10
return
function Attributes.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
