function Bullet.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
push argument 2
push argument 3
push constant 0
push argument 4
call Attributes.new 6
pop this 0
push pointer 0
return
function Bullet.getAttributes 0
push argument 0
pop pointer 0
push this 0
return
function Bullet.setCoordinates 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call Attributes.setCoordinates 3
pop temp 0
push constant 0
return
function Bullet.setVelocity 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call Attributes.setVelocity 3
pop temp 0
push constant 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
