function Main.main 5
call Settings.new 0
pop local 0
push local 0
call GXEngine.new 1
pop local 1
push constant 100
push constant 30
push constant 20
push constant 20
call GravitySink.new 4
pop local 2
push constant 20
push constant 100
push constant 10
push constant 20
call GravitySink.new 4
pop local 3
push constant 200
push constant 200
push constant 15
push constant 20
call GravitySink.new 4
pop local 4
push local 1
push local 2
call GXEngine.registerGravitySink 2
pop temp 0
push local 1
push local 3
call GXEngine.registerGravitySink 2
pop temp 0
push local 1
push local 4
call GXEngine.registerGravitySink 2
pop temp 0
push local 1
call GXEngine.drawAllObjects 1
pop temp 0
push constant 0
return
