function ObjectManager.new 1
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push this 0
call Settings.getMaxGravitySinks 1
call Array.new 1
pop this 1
push this 0
call Settings.getMaxPlayers 1
call Array.new 1
pop this 2
push this 0
call Settings.getMaxBullets 1
call Array.new 1
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call Settings.getMaxGravitySinks 1
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 0
call Settings.getMaxBullets 1
lt
not
if-goto WHILE_END2
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push pointer 0
return
function ObjectManager.registerGravitySink 0
push argument 0
pop pointer 0
push this 4
push this 0
call Settings.getMaxGravitySinks 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 1
add
pop this 4
push this 4
push constant 1
sub
push this 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
function ObjectManager.registerPlayer 0
push argument 0
pop pointer 0
push this 5
push this 0
call Settings.getMaxPlayers 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push constant 1
add
pop this 5
push this 5
push constant 1
sub
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
function ObjectManager.registerBullet 0
push argument 0
pop pointer 0
push this 6
push this 0
call Settings.getMaxBullets 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push constant 1
add
pop this 6
push this 6
push constant 1
sub
push this 3
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
function ObjectManager.atMaxBullets 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxBullets 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 0
call Settings.getMaxBullets 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
goto IF_END0
label IF_FALSE0
push constant 0
pop local 1
label IF_END0
push local 1
return
function ObjectManager.bulletsRemain 1
push argument 0
pop pointer 0
push pointer 0
push constant 0
call ObjectManager.getBullet 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push constant 0
not
pop local 0
label IF_END0
push local 0
return
function ObjectManager.unregisterBullet 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxBullets 1
lt
and
not
if-goto WHILE_END0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
sub
push this 3
add
push local 0
push this 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push this 3
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
sub
pop this 6
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ObjectManager.unregisterPlayer 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
and
not
if-goto WHILE_END0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
sub
push this 2
add
push local 0
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push this 2
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
sub
pop this 5
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ObjectManager.unregisterGravitySink 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxGravitySinks 1
lt
and
not
if-goto WHILE_END0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
sub
push this 1
add
push local 0
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push this 1
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 4
push constant 1
sub
pop this 4
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ObjectManager.getBullet 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxBullets 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 3
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.getBulletAttributes 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
call ObjectManager.getBullet 2
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
goto IF_END0
label IF_FALSE0
push local 0
call Bullet.getAttributes 1
pop local 1
label IF_END0
push local 1
return
function ObjectManager.getPlayer 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxPlayers 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.playersStillAlive 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
push pointer 0
push local 1
call ObjectManager.getPlayer 2
pop local 2
label WHILE_EXP0
push local 2
push constant 0
eq
not
not
if-goto WHILE_END0
push local 2
call Player.getIsDead 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
push pointer 0
push local 1
call ObjectManager.getPlayer 2
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function ObjectManager.getGravitySink 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxGravitySinks 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.getAttributes 4
push argument 0
pop pointer 0
push constant 0
pop local 3
push argument 1
push this 5
lt
push local 3
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call ObjectManager.getPlayer 2
pop local 0
push local 0
call Player.getAttributes 1
pop local 3
goto IF_END0
label IF_FALSE0
push argument 1
push this 5
sub
pop argument 1
label IF_END0
push argument 1
push this 4
lt
push local 3
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
call ObjectManager.getGravitySink 2
pop local 1
push local 1
call GravitySink.getAttributes 1
pop local 3
goto IF_END1
label IF_FALSE1
push argument 1
push this 4
sub
pop argument 1
label IF_END1
push argument 1
push this 6
lt
push local 3
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
call ObjectManager.getBulletAttributes 2
pop local 3
goto IF_END2
label IF_FALSE2
push argument 1
push this 6
sub
pop argument 1
label IF_END2
push local 3
return
function ObjectManager.cleanBulletList 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push pointer 0
push local 0
call ObjectManager.getBullet 2
pop local 3
label WHILE_EXP0
push local 3
push constant 0
eq
not
not
if-goto WHILE_END0
push local 3
call Bullet.getAttributes 1
pop local 4
push local 4
call Attributes.getIsDead 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 4
call Attributes.getPx 1
push this 0
call Settings.getworldResolutionX 1
call Math.divide 2
push this 0
call Settings.getScreenBoundLeft 1
add
push local 4
call Attributes.getPy 1
push this 0
call Settings.getworldResolutionY 1
call Math.divide 2
push this 0
call Settings.getScreenBoundTop 1
add
push constant 10
call GXEngine.drawExplosion 4
pop temp 0
push pointer 0
push local 3
call ObjectManager.unregisterBullet 2
pop temp 0
push local 3
call Bullet.dispose 1
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
push pointer 0
push local 0
call ObjectManager.getBullet 2
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ObjectManager.atMaxGravitySinks 0
push argument 0
pop pointer 0
push this 4
push this 0
call Settings.getMaxGravitySinks 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function ObjectManager.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
