function ObjectManager.new 1
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push this 0
call Settings.getMaxGravitySinks 1
call Array.new 1
pop this 1
push this 0
call Settings.getMaxPlayers 1
call Array.new 1
pop this 2
push this 0
call Settings.getMaxBullets 1
call Array.new 1
pop this 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call Settings.getMaxGravitySinks 1
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 0
call Settings.getMaxBullets 1
lt
not
if-goto WHILE_END2
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push pointer 0
return
function ObjectManager.registerGravitySink 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxGravitySinks 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function ObjectManager.registerPlayer 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function ObjectManager.registerBullet 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxBullets 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 3
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function ObjectManager.unregisterBullet 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxBullets 1
lt
and
not
if-goto WHILE_END0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
sub
push this 3
add
push local 0
push this 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push this 3
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ObjectManager.getBullet 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxBullets 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 3
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.getPlayer 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxPlayers 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.getPlayerSprite 2
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxPlayers 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
goto IF_END0
label IF_FALSE0
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 0
push local 0
call Player.getSprite 1
pop local 1
label IF_END0
push local 1
return
function ObjectManager.getGravitySink 1
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getMaxGravitySinks 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 0
label IF_END0
push local 0
return
function ObjectManager.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
