function Player.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
push argument 5
call PlayerSprite.new 5
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push argument 0
pop this 3
push pointer 0
return
function Player.getSpriteAttributes 0
push argument 0
pop pointer 0
push this 0
call PlayerSprite.getAttributes 1
return
function Player.getSprite 0
push argument 0
pop pointer 0
push this 0
return
function Player.getPowerRemaining 0
push argument 0
pop pointer 0
push this 1
return
function Player.setPowerRemaining 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Player.getBulletsRemaing 0
push argument 0
pop pointer 0
push this 2
return
function Player.setBulletsRemaing 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Player.getName 0
push argument 0
pop pointer 0
push this 3
return
function Player.kill 1
push argument 0
pop pointer 0
push this 0
call PlayerSprite.getAttributes 1
pop local 0
push local 0
push constant 0
not
call Attributes.setIsDead 2
pop temp 0
push constant 0
return
function Player.getIsDead 1
push argument 0
pop pointer 0
push this 0
call PlayerSprite.getAttributes 1
pop local 0
push local 0
call Attributes.getIsDead 1
return
function Player.dispose 0
push argument 0
pop pointer 0
push this 0
call PlayerSprite.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
