function PlayerSprite.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
push constant 0
push constant 0
push argument 2
push argument 3
call Attributes.new 6
pop this 0
push pointer 0
return
function PlayerSprite.setCoordinates 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call Attributes.setCoordinates 3
pop temp 0
push constant 0
return
function PlayerSprite.setRotation 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Attributes.setRotation 2
pop temp 0
push constant 0
return
function PlayerSprite.getAttributes 0
push argument 0
pop pointer 0
push this 0
return
function PlayerSprite.dispose 0
push argument 0
pop pointer 0
push this 0
call Memory.deAlloc 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
