function PXEngine.new 1
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
call AdvancedMath.new 0
pop this 3
push this 0
call Settings.getMaxBullets 1
call Array.new 1
pop this 1
push this 0
call Settings.getMaxPlayers 1
call Array.new 1
pop this 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call Settings.getMaxBullets 1
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push pointer 0
return
function PXEngine.registerBullet 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxBullets 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function PXEngine.registerPlayerSprite 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
and
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function PXEngine.applyAcceleration 4
push argument 0
pop pointer 0
push argument 1
call Attributes.backup 1
pop temp 0
push argument 1
push constant 0
not
call Attributes.setNeedsUpdate 2
pop temp 0
push this 3
push argument 3
call AdvancedMath.sin100 2
push argument 2
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 0
push this 3
push argument 3
call AdvancedMath.cos100 2
push argument 2
call Math.multiply 2
push constant 1
neg
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 1
push argument 1
call Attributes.getAx 1
pop local 2
push argument 1
call Attributes.getAy 1
pop local 3
push argument 1
push local 2
push local 0
add
push local 3
push local 1
add
call Attributes.setAcceleration 3
pop temp 0
push constant 0
return
function PXEngine.applyRotation 0
push argument 0
pop pointer 0
push argument 1
call Attributes.backup 1
pop temp 0
push argument 1
push constant 0
not
call Attributes.setNeedsUpdate 2
pop temp 0
push argument 2
push argument 1
call Attributes.getRotation 1
add
pop argument 2
push argument 1
push argument 2
call Attributes.setRotation 2
pop temp 0
push constant 0
return
function PXEngine.stepForward 7
push argument 0
pop pointer 0
push argument 1
push this 0
call Settings.getphysicsTimeStepModifier 1
call Math.divide 2
pop argument 1
push this 0
call Settings.getSpaceFriction 1
push argument 1
call Math.multiply 2
pop local 6
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 0
push this 0
call Settings.getMaxPlayers 1
lt
and
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 5
push local 5
call PlayerSprite.getAttributes 1
pop this 4
push this 4
call Attributes.getAx 1
pop local 1
push this 4
call Attributes.getAy 1
pop local 2
push this 4
call Attributes.getVx 1
pop local 3
push this 4
call Attributes.getVy 1
pop local 4
push local 1
push constant 0
eq
not
push local 3
push constant 0
eq
not
or
push local 2
push constant 0
eq
not
or
push local 4
push constant 0
eq
not
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push constant 10
call Math.multiply 2
push local 6
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 3
push local 4
push constant 10
call Math.multiply 2
push local 6
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 4
push this 4
call Attributes.backup 1
pop temp 0
push this 4
push constant 0
not
call Attributes.setNeedsUpdate 2
pop temp 0
push this 4
push local 1
push argument 1
call Math.multiply 2
push local 3
add
push local 2
push argument 1
call Math.multiply 2
push local 4
add
call Attributes.setVelocity 3
pop temp 0
push this 4
push constant 0
push constant 0
call Attributes.setAcceleration 3
pop temp 0
push this 4
call Attributes.getPx 1
pop local 1
push this 4
call Attributes.getPy 1
pop local 2
push this 4
push local 3
push argument 1
call Math.multiply 2
push local 1
add
push local 4
push argument 1
call Math.multiply 2
push local 2
add
call Attributes.setCoordinates 3
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PXEngine.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
